# Скомпилированные бинарные файлы
bin/
build/
*.exe
*.dll
*.so
*.dylib

# Результаты тестов
*.test
*.out

# Покрытие тестов
*.coverprofile
*.cover.out
cover.out

# Модули (в случае ручной сборки или старых версий go)
vendor/

# Логи
*.log

# Системные служебные файлы
.DS_Store
Thumbs.db

.env